<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<body>
    <header>
        <div class="wrap">
            <div>
                <a href="index.html">Showroom Galleria</a>
            </div>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="catalog.html">Catalog</a></li>
                    <li><a href="news.html">News</a></li>
                </ul>
            </nav>
        </div>
    </header>
    {{ content }}
  </body>
</html>